body { font-family: 'Segoe UI', sans-serif; background-color: #f0f2f5; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
.container { background: rgb(181, 180, 180); padding: 25px; border-radius: 15px; box-shadow: 0 8px 20px rgba(0,0,0,0.1); width: 100%; max-width: 400px; text-align: center; }
.hidden { display: none; }
.header { display: flex; justify-content: space-between; margin-bottom: 15px; font-weight: bold; }
#timer { background: #ff4757; color: white; padding: 2px 10px; border-radius: 20px; }
.option-btn { display: block; width: 100%; margin: 10px 0; padding: 12px; border: 1px solid #ddd; border-radius: 8px; cursor: pointer; background: #fff; text-align: left; transition: 0.2s; }
.option-btn:hover { background: #f1f2f6; }
.selected { background: #1e90ff !important; color: white; border-color: #1e90ff; }
#submit-per-soal { background-color: #2ed573; color: white; border: none; padding: 12px; width: 100%; border-radius: 8px; cursor: pointer; font-size: 16px; margin-top: 15px; font-weight: bold; }
#submit-per-soal:hover { background-color: #26af60; }
input[type="text"] { width: 100%; padding: 12px; margin-bottom: 15px; border-radius: 8px; border: 1px solid #ddd; box-sizing: border-box; }
#btnmulai { background-color: #3742fa; color: white; border: none; padding: 12px; width: 100%; border-radius: 8px; cursor: pointer; font-size: 16px; font-weight: bold; }
#submit-per-soal:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
    opacity: 0.7;
}